@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mansalva&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&family=Shadows+Into+Light+Two&display=swap');


:root {
    --fonte_padrão: "Red Hat Display", sans serif;
    --fonte-especial: "Henny Penny", sans serif;
}

body {
    background-image: url(imagens/fundo01.jpg);
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.959);
    color: lightgray;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 2px;
}

header img {
    padding-top: 20px;
    max-width: 180px;
    border-radius: 20px;
    display: block;
    margin: auto;
}

header h1 {
    font-size: 38px;
}

h1 {
    font-family: var(--fonte-especial);
    font-weight: normal;
}

p {
   font-family: 'Quicksand', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: normal;
}

main {
    background-color: rgba(0, 0, 0, 0.842);
    color: lightgray;
    margin: auto;
    border-radius: 15px;
    box-shadow: 4px 2px 15px 4px rgba(0, 0, 0, 0.295);
    text-align: center;
    min-width: 150px;
    max-width: 850px;
    text-indent: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.952);
    color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: rgb(167, 44, 255);
    transition-duration: 0.4s;
}